<div class="container">
	<div class="row">
		<br/>
		<br/>
		<br/>
		<div class="card-panel">
			<h3 class="center-align">Cadastrar no YGG</h3>
			<div class="row">
				<form class="col s8 offset-s2">
					<div class="row">
						<div class="input-field col s12">
							<input id="nome" type="text" class="validate center-align" name="nome" autofocus>
							<label for="nome">Seu nome</label>
						</div>
						<div class="input-field col s12">
							<input id="email" type="email" class="validate center-align" name="email">
							<label for="email">E-mail</label>
						</div>
						<div class="input-field col s12">
							<input id="senha" type="password" class="validate center-align" name="senha">
							<label for="senha">Senha</label>
							<p class="right-align">Possui conta? <a [routerLink]="['/entrar']">Acesse agora!</a></p>
							<p class="center-align">
								<button type="submit" class="btn waves waves-effect green lighten-1">Cadastrar
									<i class="material-icons right">done</i>
								</button>
							</p>
							<p class="center-align"><b>ou</b></p>
						</div>
						<div class="col s6">
							<p class="center-align"><a href="#!" class="btn waves waves-effect indigo lighten-1">Cadastrar com Facebook <img src="/estatico/img/facebook.png" width="24" height="24" style="margin-bottom:-7px;"/></a></p>
						</div>
						<div class="col s6">
							<p class="center-align"><a href="#!" class="btn waves waves-effect red darken-1">Cadastrar com Google+ <img src="/estatico/img/google.png" width="24" height="24" style="margin-bottom:-7px;"/></a></p>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
	</div>
</div>