<div class="container">
	<br/>
	<br/>
	<br/>
	<div class="card-panel">
		<h3 class="center-align">Acesso ao YGG</h3>
		<div class="row">
			<form class="col s8 offset-s2">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate center-align" name="email" autofocus>
						<label for="email">E-mail</label>
					</div>
					<div class="input-field col s12">
						<input id="senha" type="password" class="validate center-align" name="senha">
						<label for="senha">Senha</label>
						<p class="right-align">Não possui conta? <a [routerLink]="['/cadastrar']">Cadastre-se!</a></p>
						<p class="center-align">
							<button type="submit" class="btn waves waves-effect green lighten-1">Entrar
								<i class="material-icons right">launch</i>
							</button>
						</p>
						<p class="center-align"><b>ou</b></p>
					</div>
					<div class="col s6">
						<p class="center-align"><a href="#!" class="btn waves waves-effect indigo lighten-1">Entrar com Facebook <img src="estatico/img/facebook.png" width="24" height="24" style="margin-bottom:-7px;"/></a></p>
					</div>
					<div class="col s6">
						<p class="center-align"><a href="#!" class="btn waves waves-effect red darken-1">Entrar com Google+ <img src="estatico/img/google.png" width="24" height="24" style="margin-bottom:-7px;"/></a></p>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
</div>