<div class="bg-branco"></div>
<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="card-panel">
				<h1 class="center-align">Bem Vindo ao YGG </h1>
				<p class="center-align">O sistema web YGG (nome originado da árvore da mitologia Nórdica, Yggdrasil, a árvore dos mundos), tem o intuito de proporcionar ao usuário um método de organizar estudos de forma modular, com uma ideia de árvore de conhecimento, isto é, cada conhecimento (árvore), é formado por infinitos tópicos (galhos), estes também podem ter infinitos tópicos filhos ou galhos filhos e assim por diante, desta forma o usuário poderá organizar seus estudos de uma forma modular e livre para seu conforto.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel">
				<h2 class="center-align"> Um nova experiência </h2>
				<div class="row">
					<div class="col s4">
						<p class="center-align"><img src="/estatico/img/organizado.png" /></p>
						<h6 class="center-align"><b>Organize</b></h6>
						<p class="center-align">Organize seus estudos, relacione os temas, veja os resultados</p>
					</div>
					<div class="col s4">
						<p class="center-align"><img src="/estatico/img/simples.png" /></p>
						<h6 class="center-align"><b>Simplifique</b></h6>
						<p class="center-align">Pensando na simplicidade na hora de seus estudos, simplificamos a nossa ferramenta para que não perca tempo organizando e relacionando os temas, faça isso de modo simples e rápido</p>
					</div>
					<div class="col s4">
						<p class="center-align"><img src="/estatico/img/compartilhar.png" /></p>
						<h6 class="center-align"><b>Compartilhe</b></h6>
						<p class="center-align">Compartilhe com seus amigos, crie grupos de estudo, elabore árvores de conhecimento em grupo e muito mais!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card-panel">
				<h2 class="center-align"> Entre e experimente agora </h2>
				<div class="row">
					<div class="col s12">
						<p class="center-align">Entre agora e faça parte do grupo de pessoas que organizam suas ideias e estudos conosco.</p>
					</div>
					<div class="col s6">
						<h5 class="center-align">Não tem uma conta?</h5>
						<p class="center-align"><a [routerLink]="['/cadastrar']" class="waves-effect waves-light btn red darken-1">Criar nova conta</a></p>
					</div>
					<div class="col s6">
						<h5 class="center-align">Tem uma conta?</h5>
						<p class="center-align"><a [routerLink]="['/entrar']" class="waves-effect waves-light btn indigo darken-1">Entrar na minha conta</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>