<footer class="page-footer green">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">YGG - Árvore de Conhecimento</h5>
				<p class="grey-text text-lighten-4">Projeto criado para a disciplina de Gerência de Projeto de Software - UFG 2016-1</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Colaboradores</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/gabrielbo1">Gabriel Barbosa</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">João Henrique</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Lucas Vinicios</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Pedro Victor</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Raphael Ferreira</a></li>
					<li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/ronynogueiras">Rony Nogueira</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			YGG © 2016 Todos os direitos reservados.
			<a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/gabrielbo1/ygg">Projeto no Github</a>
		</div>
	</div>
</footer>