<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper green lighten-1">
			<a [routerLink]="['/home']" class="brand-logo right">YGG Tree Knowledge</a>
			<a [routerLink]="['/home']" class="brand-logo center"><img src="/estatico/img/arvore.png" width="45" height="45" style="margin-bottom: -12px;"/></a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a [routerLink]="['/entrar']"><i class="material-icons left">launch</i> Entrar</a></li>
				<li><a [routerLink]="['/cadastrar']"><i class="material-icons left">assignment_ind</i> Cadastro</a></li>
			</ul>
		</div>
	</nav>
</div>